<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/logout" method="POST">
        <button type="submit">Log out</button>
    </form>
    <a href="/upload/add">Upload File</a>
    <a href="/folder/add">New Folder</a>
    <h1><%= title %></h1>
    <ul>
        <% folders.forEach(folder => { %>
            <li>Name: <%= folder.name %></li>
            <form action="/folder/<%= folder.id %>/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/folder/<%= folder.id %>/delete" method="post">
                <button type="submit" onclick="return confirm('All files within this folder will be deleted.  Are you sure?');">Delete</button>
            </form>
        <% }) %>
    </ul>
    <ul>
        <% files.forEach(file => { %>
            <li>File Name: <%= file.name %></li>
        <% }) %>
    </ul>
</body>
</html>