<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <a href="/">Back</a>
    <h1><%= title %></h1>
    <a href="/upload/add">Upload File</a>
    <% if (files.length > 0) { %>
        <ul>
        <% files.forEach(file => { %>
            <li>File Name: <a href="/file/<%= file.id %>"><%= file.name %></a>
                <form action="/file/<%= file.id %>/edit" method="get">
                    <button type="submit">Rename</button>
                </form>
                <form action="/file/<%= file.id %>/delete" method="post">
                    <button type="submit" onclick="return confirm('This file will be deleted.  Are you sure?');">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
        <h2>Nothing to see here</h2>
    <% } %>    
</body>
</html>